* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    font-size: 15px;
    
}

/*NAV BAR*/

nav {
    width: 100%;
    height: 75px;
    position: fixed;
    vertical-align: middle;
    background-color: white;
    z-index: 200;
}

/*logo*/
.logo-dropbox {
    display: inline-block;
    margin-top: 25px;
    margin-left: 20px;
    vertical-align: middle;
    padding-right: 10px;
}

/* Liste nav bar*/
.navlink {
    list-style: none;
    display: inline-block;
    margin-top: 25px;
    vertical-align: middle;
}

.navlink li {
    display: inline-block;
    margin-left: 35px;
    vertical-align: middle;

}

.navlink li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding-bottom: 25px;
    vertical-align: middle;
    border-bottom: 3px solid transparent;
}

.list2 {
    margin-left: 400px;
}

.navlink li a:hover {
    border-bottom: 3px solid black;
    
}

/*bottone inizia*/
.button {
    display: inline-block;
    vertical-align: middle;
}

.button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(8, 104, 248);
    padding: .5em .9em ;
}

.inizia {
    margin-top: 25px;
    margin-left: 80px;
}

.inizia a {
    vertical-align: middle;
}

.button a:hover {
    box-shadow: 5px 6px rgba(37, 37, 37, 0.4);
    background-color: rgb(52, 150, 241);
}

/*HEADER!!*/

.container-azzurro {
    width: 100%;
    height: 700px;
    background-color: rgb(129, 175, 236);
}

.centratore-header {
    width: 1200px;
    height: 600px;
    margin: auto;
    padding-top: 160px;
    position: relative;
}

h1 {
    font-size: 70px;
}

.piccolo-paragrafo {
    width: 350px;
    height: 150px;
    margin-top: 30px;
    font-size: 15px;
}

.piccolo-paragrafo p {
    line-height: 1.3em;
}

.annulla {
    margin-top: 20px;
    font-size: 15px;
}

.jumbo {
    width: 800px;
    position: absolute;
    top: 350px;
    right: 0;
}

svg {
    width: 40px;
    margin-top: 20px;
}

svg:hover {
    fill: rgb(0, 81, 255);
}


/*MAIN*/

/*Sezione uno:*/

.sezione-uno {
    width: 100%;
    height: 1400px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.sezione-uno::after {
    content: '';
    display: table;
    clear: both;
}

.centratore {
    width: 1000px;
    background-color: white;
    margin: auto;
}

h2 {
    font-size: 35px;
}
.fatturazione {
    width: 100%;
}
.cerchio {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 70px;
}

.cerchio-blu {
    border: 5px solid rgb(5, 67, 240);
}

.cerchio-bianco {
    border: 1px solid black;
    margin-left: 35px;
}

/*Card*/

.card {
    width: 30%;
    margin-top: 50px;
    border: 1px solid rgb(177, 177, 177);
    background-color: white;
    float: left;
    text-align: center;
}

.card-professional {
    margin-right: 5%;
}

.card-standard {
    margin-right: 5%;
}



.card span {
    line-height: 2em;
}

.professional {
    text-align: left;
    width: 85%;
    margin: auto;
    margin-top: 20px;
}

h3 {
    font-size: 25px;
}

.price {
    font-weight: 600;
    margin-top: 20px;
}

.mese {
    margin-top: 20px;
    color: rgb(148, 145, 145);
}

.caratteristiche-pacchetto {
    margin-top: 30px;
    font-size: 14px;
}

.prova30giorni {
    margin-top: 50px;
    margin-bottom: 30px;
}

.acquista-ora {
    color: rgb(5, 67, 240);
}

.riga-corta {
    width: 20%;
    margin-top: 30px;
}

.punti-salienti {
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
}

.list-punti-salienti {
    list-style: none;
    margin-top: 30px;
}

.list-punti-salienti li {
    padding-bottom: 1em;
}

li span {
    color: blue;
    font-weight: 700;
    font-size: 20px;
}

.list-bottom1 {
    margin-bottom: 152px;
}

.list-bottom2 {
    margin-bottom: 80px;
}

/*Card orizzontale*/

.card-orizzontale {
    width: 100%;
    background-color: rgb(255, 255, 255);
    float: right;
    margin-top: 50px;
    border: 1px solid rgb(177, 177, 177);
    text-align: center;
}

.card-orizzontale span {
    line-height: 2em;
}

.enterprise {
    text-align: left;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.contatta-ufficio {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.enterprise p {
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 40px;
}

.btn-float {
    float: right;
    margin-top: 10px;
}

/*Section due*/

.sezione-due {
    width: 100%;
    height: 500px;
}

.partner {
    width: 50%;
    float: left;
}

.testo-partner {
    width: 40%;
    float: left;
    margin-left: 100px;
    margin-top: 40px;
}

.img-partner {
    width: 500px;
    height: 400px;
    float: left;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.testo-partner p {
    line-height: 1.8em;
    font-size: 13px;
    margin-top: 20px;
}
.btn-partner {
    margin-top: 35px;
}
.btn-partner a {
    text-decoration: none;
    text-align: center;
    color: black;
    border-bottom: 1px solid rgb(58, 58, 58);
    border-right: 1px solid rgb(58, 58, 58);
    border-left: 1px solid rgb(58, 58, 58);
    border-top: 2px solid rgb(58, 58, 58);
    padding: .5em 1.5em;
}

/*SECTION TRE*/

.section-tre {
    width: 100%;
}

.schede {
    width: 310px;
    float: left;
}

.img-scheda {
    width: 310px;
    height: 300px;
    object-fit: contain
}

.scheda-title {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5em;
}

.scheda-didascalia {
    margin-top: 20px;
    line-height: 1.5em;
}

.underline {
    text-decoration: underline;
}

.scheda-1 {
    margin-right: 35px;
}

.scheda-2 {
    margin-right: 35px;
}

.seconda-riga {
    margin-top: 60px;
}

/*SECTION QUATTRO*/



































/*FOOTER*/