* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

/*CLEARFIX*/
.clearfix {
    content: '';
    display: table;
    clear: both;
}


/*FIXED NAV BAR*/

nav {
    width: 100%;
    height: 70px;
    min-width: 1200px;
    position: fixed;
    vertical-align: middle;
    background-color: white;
    z-index: 200;
    text-align: center;
}

/*logo*/
.logo-dropbox {
    margin-left: 20px;
    vertical-align: middle;
    padding-right: 10px;
    float: left;
    line-height: 4em;
    padding-top: 10px;
}

/* Liste nav bar*/
.navlink {
    list-style: none;
    vertical-align: middle;
    float: left;
}

.list-item {
    display: inline-block;
    margin-left: 35px;
    vertical-align: middle;
}

.list-links {
    text-decoration: none;
    color: black;
    font-size: 16px;
    vertical-align: middle;
    border-bottom: 3px solid transparent;
    line-height: 4.5em;
    padding-top: 25px;
    padding-bottom: 25px;
}

.list2 {
    margin-left: 300px;
}

.list-links:hover {
    border-bottom: 3px solid black;
}


/*menu a tendina*/
.list-posizionata {
    position: relative;
}

.menu-tendina {
	display:inline-block;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
    top: 72px;
	left: 0;
	z-index:201;
    background-color: white;
    width: 150px;
    height: 87px;
    border: 1px solid rgb(192, 192, 192);
    text-align: left;
    font-weight: bold;
}

.list-posizionata:hover .menu-tendina {
    opacity: 1;
	visibility: visible;
}

.menu-tendina li a {
    text-decoration: none;
    font-size: 13px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

.tendina-link {
    margin-top: 10px;
    padding-left: 8px;
}

.tendina-link-1 {
    padding-left: 8px;
}
.tendina-link-1:hover {
    background-color: rgb(68, 142, 253);
}
.tendina-link:hover {
    background-color: rgb(68, 142, 253);
}

/*Fine menu a tendina*/



/*bottone inizia*/
.button {
    display: inline-block;
    vertical-align: top;
}

.button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(8, 104, 248);
    padding: .5em .9em ;
}

.inizia {
    margin-top: 25px;
    margin-left: 80px;
}

.inizia a {
    vertical-align: middle;
}

.button a:hover {
    box-shadow: 5px 6px rgba(37, 37, 37, 0.4);
    background-color: rgb(52, 150, 241);
}


/*HEADER!!*/

.container-azzurro {
    width: 100%;
    height: 700px;
    background-color: rgb(129, 175, 236);
}

.centratore-header {
    width: 1200px;
    height: 600px;
    margin: auto;
    padding-top: 140px;
    position: relative;
}

h1 {
    font-size: 70px;
}

.piccolo-paragrafo {
    width: 350px;
    height: 150px;
    margin-top: 30px;
    font-size: 15px;
}

.piccolo-paragrafo p {
    line-height: 1.3em;
}

.annulla {
    margin-top: 20px;
    font-size: 15px;
}

.jumbo {
    width: 800px;
    position: absolute;
    top: 350px;
    right: 0;
}

svg {
    width: 40px;
    margin-top: 20px;
}

svg:hover {
    fill: rgb(0, 81, 255);
}



/*MAIN*/

/*SECTION UNO*/

.sezione-uno {
    width: 100%;
    height: 1400px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.centratore {
    width: 1000px;
    background-color: white;
    margin: auto;
}

h2 {
    font-size: 35px;
}

.fatturazione {
    width: 100%;
}

.cerchio {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 70px;
}

.cerchio-blu {
    border: 5px solid rgb(5, 67, 240);
}

.cerchio-bianco {
    border: 1px solid black;
    margin-left: 35px;
}

/*Cards*/

.card {
    width: 30%;
    margin-top: 50px;
    border: 1px solid rgb(177, 177, 177);
    background-color: white;
    float: left;
    text-align: center;
}

.card-professional {
    margin-right: 5%;
}

.card-standard {
    margin-right: 5%;
}

.card span {
    line-height: 2em;
}

.container-pacchetti {
    text-align: left;
    width: 85%;
    margin: auto;
    margin-top: 20px;
}

h3 {
    font-size: 25px;
}

.price {
    font-weight: 600;
    margin-top: 20px;
}

.mese {
    margin-top: 20px;
    color: rgb(148, 145, 145);
}

.caratteristiche-pacchetto {
    margin-top: 30px;
    font-size: 14px;
}

.prova30giorni {
    margin-top: 50px;
    margin-bottom: 30px;
}

.acquista-ora {
    color: rgb(5, 67, 240);
}

.riga-corta {
    width: 20%;
    margin-top: 30px;
}

.punti-salienti {
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
}

.list-punti-salienti {
    list-style: none;
    margin-top: 30px;
}

.list-punti-salienti li {
    padding-bottom: 1em;
}

li span {
    color: blue;
    font-weight: 700;
    font-size: 20px;
}

.list-bottom1 {
    margin-bottom: 152px;
}

.list-bottom2 {
    margin-bottom: 80px;
}

/*Card orizzontale*/

.card-orizzontale {
    width: 100%;
    background-color: rgb(255, 255, 255);
    float: right;
    margin-top: 50px;
    border: 1px solid rgb(177, 177, 177);
    text-align: center;
}

.card-orizzontale span {
    line-height: 2em;
}

.container-enterprise {
    text-align: left;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
}

.contatta-ufficio {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.enterprise p {
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 40px;
}

.btn-float {
    float: right;
    margin-top: 10px;
}


/*SECTION DUE*/

.sezione-due {
    width: 100%;
    height: 500px;
}

.partner {
    width: 50%;
    float: left;
}

.testo-partner {
    width: 40%;
    float: left;
    margin-left: 100px;
    margin-top: 40px;
}

.img-partner {
    width: 500px;
    height: 400px;
    float: left;
}

.testo-partner p {
    line-height: 1.8em;
    font-size: 13px;
    margin-top: 20px;
}
.btn-partner {
    margin-top: 35px;
}
.btn-partner a {
    text-decoration: none;
    text-align: center;
    color: black;
    border-bottom: 1px solid rgb(58, 58, 58);
    border-right: 1px solid rgb(58, 58, 58);
    border-left: 1px solid rgb(58, 58, 58);
    border-top: 2px solid rgb(58, 58, 58);
    padding: .5em 1.5em;
}


/*SECTION TRE*/

.section-tre {
    width: 100%;
}

.schede {
    width: 310px;
    float: left;
}

.img-scheda {
    width: 310px;
    height: 300px;
    object-fit: contain
}

.scheda-title {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5em;
}

.scheda-didascalia {
    margin-top: 20px;
    line-height: 1.5em;
}

.underline {
    text-decoration: underline;
}

.scheda-1 {
    margin-right: 35px;
}

.scheda-2 {
    margin-right: 35px;
}

.seconda-riga {
    margin-top: 60px;
}


/*SECTION QUATTRO*/

.section-quattro {
    min-width: 100%;
    margin-top: 150px;
}

.link-clienti {
    color: rgb(18, 71, 247);
    font-weight: bold; 
}

.h2-team {
    margin-bottom: 30px;
}

/*Blocchi colorati*/

/*Blocco 4 quadratini a sinistra*/

.container-blocchi {
    width: 100%;
    margin-top: 50px;
}

.blocco-sinistra-destra {
    width: 30%;  
    float: left;
}

.quadrato {
    width: 225px;
    height: 225px; 
    float: left;
}

.designit {
    background-image: url(../img/designit.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(148, 230, 148);
    border: 12px solid rgb(185, 231, 185);
}

.arizona {
    background-image: url(../img/arizona_state_university.svg);
    background-color: rgb(107, 29, 29);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.florida {
    background-image: url(../img/university_of_florida.svg);
    background-color: rgb(67, 139, 221);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

.topps {
    background-image: url(../img/topps.svg);
    background-color: rgb(255, 52, 1);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

/*Blocco centrale*/

.blocco-centrale {
    width: 40%;
    height: 450px;
    float: left;
    background-color: rgba(207, 205, 205, 0.2);
    
    overflow: auto;
}

.blocco-centratore {
    width: 500px;
    margin: 30px auto;
}

.designit-black {
    width: 130px;
}

.hr-mini {
    width: 50px;
    margin-top: 50px;
}

.blocco-centrale-p {
    margin-top: 40px;
    line-height: 1.5em;
}

.nome-creatore {
    margin-top: 40px;
}

/*Blocco 4 quadratini a destra*/

.bicycle {
    background-image: url(../img/world_bicycle_relief.svg);
    background-color: rgb(199, 39, 39);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

.hearst {
    background-image: url(../img/hearst_corp.svg);
    background-color: rgb(115, 168, 199);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

.planet {
    background-image: url(../img/lonely_planet.svg);
    background-color: rgb(8, 8, 199);
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: center;
}

.channel {
    background-image: url(../img/clear_channel.svg);
    background-color: rgb(216, 216, 10);
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: center;
}

/*Blocco azzurro a tutta larghezza*/

.blocco-sotto {
    width: 100%;
    height: 300px;
    background-color: rgba(115, 168, 199, 0.6);
    float: left;
}

.blocco-sotto-centratore {
    width: 60%;
    height: 100px;
    margin: 70px auto;
}

.blocco-sotto-titolo {
    width: 490px;
    float: left;
}
 .blocco-sotto-titolo span {
     font-size: 35px;
     color: rgb(110, 0, 61);
     font-weight: bold;
     line-height: 1.3em;
 }

 .blocco-sotto-btn a {
     text-decoration: none;
     color: black;
     background-color: white;
     padding: 5px 25px;
 }

 .blocco-sotto-btn {
     float: right;
     padding-top: 15px;
 }

/*SECTION CINQUE*/

.section-cinque {
    width: 100%;
    height: 800px;
}

.domande-freq {
    font-size: 35px;
    font-weight: bold;
    margin-top: 120px;
}

.blocco-domande-risposte {
    border-bottom: 1px solid rgb(179, 179, 179);
    border-top: 1px solid rgb(175, 175, 175);
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}

.primo-blocco {
    margin-top: 50px;
}

.la-domanda {
    font-size: 17px;
    font-weight: 700;
}

.la-risposta {
    font-size: 14px;
}

.container-risposte {
    padding-top: 30px;
    display: none;
}

.blocco-domande-risposte:hover .container-risposte {
    display: inline-block;
}

.menu-giu {
    width: 15px;
    position: absolute;
    top: 15px;
    right: 20px;
}

.menu-su {
    width: 15px;
    position: absolute;
    top: 15px;
    right: 20px;
    display: none;
}

.blocco-domande-risposte:hover .menu-su {
    display: inline-block;
}

.blocco-domande-risposte:hover .menu-giu {
    display: none;
}


/*FOOTER*/

footer {
    width: 100%;
    height: 600px;
    background-color: black;
}

.centratore-footer {
    width: 80%;
    height: 550px;
    margin: auto;
}

/*Liste footer*/

.container-lists {
    width: 100%;
    height: 450px;
    margin: auto;
    padding-top: 80px;
}

.footer-list {
    list-style: none;
    color: white;
    line-height: 2.3em;
    float: left;
}

.footer-list li:first-child {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
    color: rgb(247, 229, 195);
}

.footer-list li a {
    text-decoration: none;
    color: white;
}

.footer-list li a:hover {
    text-decoration: underline;
}

.footer-list-2 {
    margin-left: 110px;
}

/*Lingua*/

footer hr {
    width: 120px;
    background-color: white;
}

.seleziona-lingua {
    color: white;
    margin-top: 50px;
    line-height: 1.5em;
}

.seleziona-lingua a {
    text-decoration: none;
    color: white;
}

.fa-sort-up {
    vertical-align: bottom;
    padding-left: 5px;
}
